@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
@layer components {
    .max-container {
        max-width: 1440px;
        margin: 0 auto;
    }
}

@layer utilities {
    .padding {
        @apply px-40;
    }
    .center {
        @apply flex justify-between items-center;
    }
    .center-x {
        @apply flex justify-center items-center text-center;
    }
    .padding-y {
        @apply py-8;
    }
    .bg-dynamic {
        background-image: url('/image/bg-product-card.png');
        height: 508px;
        width: 222px;
    }
}
