@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
@layer components {
    .max-container {
        max-width: 1440px;
        margin: 0 auto;
    }
}

@layer utilities {
    .padding {
        @apply px-40 max-md:px-4;
    }
    .center {
        @apply flex justify-between items-center;
    }
    .center-x {
        @apply flex justify-center items-center text-center;
    }
    .padding-y {
        @apply py-8;
    }
    .bg-dynamic {
        background-image: url('/image/bg-product-card.png');
        height: 508px;
        width: 222px;
    }
    .cart-btn {
        @apply py-1.5 px-2 border-2 border-red-500 rounded-md text-sm max-lg:text-xs cursor-pointer bg-[#f6f7f8] text-red-500 hover:bg-red-500 hover:text-white active:bg-red-700 active:text-white;
    }
}
@media (max-width: 1024px) {
    .bg-dynamic {
        background-image: none;
        height: auto;
        width: auto;
    }
}
